@import url('reset.css');
@import url('advantages_icon.css');
:root {
  --font-family: 'Inter', sans-serif;
}

* {
  font-family: var(--font-family);
}

.global_wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  max-width: calc(1024px + 120px);
  margin: 0 auto;
  padding: 0 60px;
}

.main_frame_wrapper {
  background-color: #CBECFF;
  width: calc(100% + 48px);
  overflow: hidden;
  border-radius: 40px;
  margin-left: -24px;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.lang_list {
  display: flex;
  gap: 10px;
}

.lang_toggler {
  padding-top: 24px;
  padding-right: 12px;
}

.lang_list a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: black;
  padding: 0 4px;
}

.lang_item {
  text-transform: capitalize;
}

.lang_item_active {
  background-color: #fff;
  border-radius: 12px;
  padding: 1px 0 1px 0;
  width: 26px;
}

.lang_item_active a {
  color: #0962E8;
}

.lang_toggler {
  display: flex;
  justify-content: flex-end;
}

.logo_text {
  font-weight: 700;
  font-size: 64px;
  line-height: 130%;
  color: #29374e;
}

.logo_text, .logo_text span {
  display: inline-block;
  text-transform:capitalize;
}


.logo_text span {
  color: #0962E8;
  background-color: #fff;
  border-radius: 20px;
  padding: 0 17px 0 17px;
  margin-left: 3px;
}

.logo_descr {
  max-width: 367px;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  color: #29374e;
  margin-top: 8px;
  margin-bottom: 38px;
  margin-left: 1px;
}

.logo_image_wrapper {
  margin-left: -2px;
}

.button {
  display: inline-block;
  width: 100%;
  max-width: 199px;
  padding: 13px 0 14px 0;
  border-radius: 8px;
  background-color: rgb(9, 98, 232);
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  color: white;
}
.main_frame {
  position: relative;
  z-index: 2;
}

.left_side {
  padding-top: 122px;
  padding-bottom: 280px;
  position: relative;
  z-index: 3;
}
.right_side {
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  max-width: 100%;
}

.main_frame_picture {
  position: absolute;
  height: auto;
  right: -11.3%;
  max-width: 100%;
}

.advantages {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  margin-bottom: 35px;
  height: 0;
  /* padding: 0; */
}

.advantages_list {
  position: relative;
  display: flex;
  gap: 20px;
  top: -83px;
  z-index: 3;
  width: auto;
}


.advantages_item {
  border-radius: 20px;
  box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
  padding: 22px 20px 30px;
  /* width: 100%;
  max-width: 241px; */
  flex: 241px 0 1;
  position: relative;
}

.advantages_text {
  color: rgb(41, 55, 78);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  /* width: 100%;
  max-width: 205px; */
  margin-right: 39px;
}

.advantages_item:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 39.17px;
  height: 39.17px;
  top: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.icon_advantages {
  position: absolute;
  top: 15px;
}

.advantages_interface {
  right: 19px;
}

.advantages_admin {
  right: 18px;
}

.advantages_integration {
  right: 24px;
}
.advantages_system {
  right: 13px;
}

.icon_advantages span:before {
  font-size: 38px;
  font-family: "icomoon";
}


.advantages_admin:before {
  background-image: url("/img/advantages_2.svg");
  right: 16.83px;
}

.advantages_integration:before {
  background-image: url("/img/advantages_3.svg");
  right: 22.83px;
}

.advantages_system:before {
  background-image: url("/img/advantages_4.svg");
  right: 11.83px;
}

.investments {
  margin-top: 150px;
}

.investments_title {
  display: block;
  font-size: 38px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -3%;
  text-align: center;
  width: 100%;
  max-width: 753px;
  margin: 0 auto;
}

.investments_title_blue {
  color: rgb(9, 98, 232);
}

.investments_cards {
  margin-top: 43px;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  gap: 20px;
}
.investments_card {
  border-radius: 30px;
  background: rgb(233, 246, 255);
  max-width: 502px;
  width: 100%;
  /* padding-top: 37px; */
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  position: relative;
}

.investments_card_title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0%;
  max-width: 201px;
  width: 100%;
  padding-bottom: 12px;
  padding-top: 37px;
}

.investments_card_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: 0%;
}

.investments_right {
  max-width: 250px;
  position: relative;
  right: -22px;
  top: 13px;
}

.investments_card_picture {
  max-width: 100%;
  height: auto;
}

.investments_card_robo .investments_left {
  margin-left: 10px;
}
.investments_card_robo .investments_card_title {
  padding-bottom: 7px;
}
.investments_card_robo .investments_right {
  right: -24px;
}

.investments_card_robo .investments_card_text {
  margin-left: 1px;
}
.feature {
  margin-top: 115px;
  display: flex;
  /* gap: 64px; */
  justify-content: space-between;
  margin-bottom: 100px;
}

.feature_left {
  width: 100%;
  max-width: 465px;
}
.feature_title {
  font-size: 38px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -3%;
  margin-bottom: 20px;
}
.feature_title span {
  color:rgb(9, 98, 232);
}

.feature_text {
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0%;
  margin-bottom: 38px;
  margin-left: 1px;
}
.feature_button {
  margin-left: -3px;
  margin-top: 1px;
  padding-bottom: 13px;
}

.feature_cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 19px;
  row-gap: 21px;
  max-width: 501px;
  width: 100%;
  justify-content: space-between;
}
.feature_card {
  padding: 20px;
  border-radius: 30px;
  width: 100%;
  /* max-width: 231px; */
  flex: 231px 0 1;
}
.feature_card:nth-child(2n) {
  flex: 251px 0 1;
}

.icon_feature {
  position: relative;
  display: inline-block;
  background-color: rgb(239, 249, 255);
  font-family: 'icomoon';
  border-radius: 25px;
  width: 39.17px;
  height: 39.17px;
  /* font-size: 38px; */
}

.icon_feature:before {
  font-size: 33px;
}

.icon_feature_1 {
  left: 8px;
  top: 3px;
}

.icon_feature_2 {
  left: 11px;
  bottom: -4px;
}

.icon_feature_3 {
  left: 7px;
  bottom: -4px;
}

.icon_feature_4 {
  left: 10px;
  bottom: -2px;
}

.icon_feature_economy {
  position: relative;
  top: 4px;
  left: 9px;
}

.feature_card_economy .feature_card_text {
  padding-top: 16px;
  top: 1px;
  left: 6px;

}


.feature_card_text {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0%;
}

.icon_feature_channel {
  position: relative;
  top: 3px;
  left: 10px;
}
.feature_card_channel .feature_card_text {
  padding-top: 13px;
  left: 11px;
  top: 1px;
}
.icon_feature_start span:before {
  font-size: 39px;
}
.icon_feature_start {
  position: relative;
  top: 2px;
  left: 6px;
}
.feature_card_start .feature_card_text {
  position: relative;
  left: 5px;
  top: 17px;
}

.icon_feature_loyal {
  position: relative;
  left: 11px;
  top: 1px;
}

.feature_card_loyal .feature_card_text {
  position: relative;
  left: 10px;
  top: 16px;
}

@media screen and (max-width: 1100px) {
  .feature {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 860px) {
  .main_frame_wrapper {
    background-color: #CBECFF;
    width: auto;
    overflow: hidden;
    border-radius: 0;
    margin-left: 0;
  }

  .lang_toggler {
    padding-right: 0;
  }

  .left_side { 
    padding-top: 456px;
  }

  .wrapper {
    padding: 0 16px;
  }

  .logo_text {
    font-size: 46px;
  }

  .advantages_list {
    top: -269px;
    column-gap: 15px;
    row-gap: 20px;
    flex-wrap: wrap;
  }
  .advantages_item {
    flex-grow: 1;
  }
  .investments_cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .investments_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -3%;
  }
}

@media screen and (max-width: 529px) { 
  .logo_descr {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    margin-top: 8px;
    max-width: 310px;
    margin-bottom: 11px;
  }
  .button {
    width: 100%;
    max-width: 100%;
    padding: 13px 0;
  }
  .main_frame_picture {
    right: 6%;
    top: 3px;
  }
  .left_side {
    padding-bottom: 311px;
  }
  .advantages_list {
    top: -289px;
    column-gap: 15px;
    row-gap: 20px;
    flex-wrap: wrap;
  }
  .advantages_item {
    padding: 43px 12px 16.5px 18px;
    width: 100%;
    max-width: 164px;
    flex-grow: 0;
    flex-shrink: 1;
  }
  .advantages_text {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
    margin-right: 0;
  }
  .advantages_item:before {
    top: -5px;
    left: 18px;
  }
  .advantages_item br {
    display: none;
  }
  .icon_advantages {
    top: -5px;
    left: 18px;
  }
  .logo_image_wrapper {
    margin-left: 0;
  }

  .investments_cards {
    margin-top: 24px;
    gap: 16px;
  }
  
  .investments_card {
    padding-left: 16px;
    padding-right: 0;
    height: 215px;
  }

  .investments_left {
    max-width: 160px;
  }

  .investments_card_title {
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 3px;
  }
  .investments_right {
    position: absolute;
    right: 21px;
    top: 0px;
    max-width: unset;
  }
  .investments_card_picture {
    width: 174px;
    max-width: unset;
    position: relative;
    right: -26px;
    top: 1px;
  }
  .investments_card_text {
    font-size: 13px;
  }

  .investments {
    margin-top: 40px;
  }

  .investments_card_robo .investments_right {
    right: 0;
    bottom: 0;
  }
  .investments_card_robo .investments_left {
    margin-left: 0;
    max-width: 150px;
  }
  .investments_card_robo .investments_card_picture {
    right: -4px;
  }
  .investments_card_robo .investments_card_title {
    padding-bottom: 3px;
  }

  .feature {
    margin-top: 40px;
    gap: 37px;
  }

  .feature_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -3%;
    text-align: center;
    margin-bottom: 4px;
  }
  .feature_text {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 12px;
  }

  .feature_button {
    margin-left: 0;
  }

  .feature_text br {
    display: none;
  }

  .feature_cards {
    row-gap: 20px;
    column-gap: 15px;
    position: relative;
  }

  .feature_card {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0px;
    padding-top: 26px;
  }
  .icon_feature {
    position: absolute;
  }

  .icon_feature:before {
    position: relative;
    font-size: 20px;
  }

  .icon_feature_1 {
    top: -4px;
    left: 18px;
  }
  .icon_feature_1:before {
    top: 11px;
    left: 11px;
  }

  .feature_card_economy .feature_card_text {
    padding: 17px 20px 19px 12px;
  }

  .feature_card_economy .feature_card_text br {
    display: none;
  }

  .icon_feature_2 {
    top: -3px;
    left: 18px;
  }
  
  .icon_feature_2:before {
    left: 8px;
    top: 8px;
    font-size: 22px;
  }

  .feature_card_channel .feature_card_text {
    padding: 17px 20px 19px 7px;
  }

  .icon_feature_3 {
    top: -6px;
    left: 18px;
  }

  .icon_feature_3:before {
    top: 9px;
    left: 10px;
  }

  .feature_card_start .feature_card_text {
    padding: 0px 16px 30px 13px;
    margin-top: -1px;
  }

  .icon_feature_4 {
    top: -6px;
    left: 18px;
  }

  .icon_feature_4:before {
    top: 9px;
    left: 10px;
  }
  
  .feature_card_loyal .feature_card_text {
    margin-top: -1px;
    padding: 0px 16px 30px 8px;
  }

  .feature_card {
    border-radius: 20px;
    box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.05);
    flex: 164px 0 1;
    position: relative;
  }


  .feature_card:nth-child(2n) {
    flex: 164px 0 1;
  }

  .feature_card_text {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
  }

  .icon_feature_economy {
    left: -3px;
    top: -25px;
  }
}